{% for board in boards %}
<tr>
	<td class="board-meta">{{ board.locale }}</td>
	<td class="board-uri"><div class="board-cell">
		<a href='/{{board['uri']}}/'>/{{board['uri']}}/</a>
		{% if board['sfw'] %}<i class="fa fa-briefcase board-sfw" title="SFW"></i>{% endif %}
	</div></td>
	<td class="board-title"><div class="board-cell" title="Created {{board['time']}} ({{board['ago']}} ago)">{{ board['title'] }}</div></td>
	<td class="board-pph"><div class="board-cell">{{board['pph']}}</td>
	<td class="board-max"><div class="board-cell">{{board['posts_total']}}</td>
	<td class="board-unique"><div class="board-cell">{{board['active']}}</td>
	<td class="board-tags"><div class="board-cell">{% for tag in board.tags %}<a class="tag-link" href="{{ tag_query }}{{ tag }}">{{ tag }}</a>{% endfor %}</div></td>
</tr>
{% endfor %}