<main id="boardlist">
	<section class="description box col col-12">
		<h2 class="box-title">Global Statistics</h2>
		<p class="box-content">{% trans %}There are currently <strong>{{t_boards}}</strong> total boards, <strong>{{hidden_boards_total}}</strong> of which are unindexed. Site-wide, {{total_posts_hour}} posts have been made in the last hour, with {{total_posts}} being made on all active boards since October 23, 2013.{% endtrans %}</p>
		{% if uptime %}<p class="box-content">{{uptime_p}} without interruption</p>{% endif %}
		<p class="box-content">This page last updated <time>{{last_update}}</time>.</p>
	</section>
	
	<div class="board-list">
		<aside class="search-container col col-2">
			<form id="search-form" class="box" method="post" target="/board-search.php">
				<h2 class="box-title">Search</h2>
				
				<div class="board-search box-content">
					<label class="search-item search-sfw">
						<input type="checkbox" id="search-sfw-input" checked="checked" />&nbsp;NSFW boards
					</label>
					
					<div class="search-item search-lang">
						<select id="search-lang-input">
							<optgroup label="Popular">
								<option>All languages</option>
								<option>English</option>
								<option>Spanish</option>
							</optgroup>
							<optgroup label="All">
								<option>Chinese</option>
							</optgroup>
						</select>
					</div>
					
					<div class="search-item search-tag">
						<input type="text" id="search-tag-input" placeholder="Search tags..." />
					</div>
					
					<div class="search-item search-submit">
						<button id="search-submit">Search</button>
					</div>
				</div>
				
				<ul class="tag-list box-content">
					{% for tag, pop in tags %}
						<li class="tag-item">
							<a class="tag-link" href="#">{{ tag }}</a> 
						</li>
					{% endfor %}
				</ul>
			</form>
		</aside>
		
		<section class="board-list col col-10">
			<table class="board-list-table">
				<colgroup>
					<col class="board-meta" />
					<col class="board-uri" />
					<col class="board-title" />
					<col class="board-pph" />
					<col class="board-max" />
					<col class="board-unique" />
					<col class="board-tags" />
				</colgroup>
				<thead>
					<tr>
						<th class="board-meta"></th>
						<th class="board-uri">{% trans %}Board{% endtrans %}</th>
						<th class="board-title">{% trans %}Title{% endtrans %}</th>
						<th class="board-pph" title="Posts per hour">{% trans %}PPH{% endtrans %}</th>
						<th class="board-max">{% trans %}Total posts{% endtrans %}</th>
						<th class="board-unique" title="Unique IPs to post in the last 72 hours">{% trans %}Active users{% endtrans %}</th>
						<th class="board-tags">{% trans %}Tags{% endtrans %}</th>
					</tr>
				</thead>
				
				<tbody>
					{% for board in boards %}
					<tr>
						<td class="board-meta">{{ board.img|raw }} {% if board['sfw'] %}<img src="/static/sfw.png" title="Safe for work">{% else %}<img src="/static/nsfw.png" title="Not safe for work">{% endif %}</td>
						<td class="board-uri"><div class="board-list-wrapper uri"><a href='/{{board['uri']}}/'>/{{board['uri']}}/</a>{{lock|raw}}</div></td>
						<td class="board-title"><div class="board-cell" title="Created {{board['time']}} ({{board['ago']}} ago)">{{ board['title'] }}</div></td>
						<td class="board-pph"><div class="board-cell">{{board['pph']}}</td>
						<td class="board-max"><div class="board-cell">{{board['max']}}</td>
						<td class="board-unique"><div class="board-cell">{{board['uniq_ip']}}</td>
						<td class="board-tags"><div class="board-cell">{% for tag in board.tags %}<span class="board-tag">{{ tag }}</span>&nbsp;{% endfor %}</div></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</div>
</main>