<div class="boardlist">
	<p>{% trans %}There are currently <strong>{{n_boards}}</strong> boards + <strong>{{hidden_boards_total}}</strong> unindexed boards = <strong>{{t_boards}}</strong> total boards. Site-wide, {{total_posts_hour}} posts have been made in the last hour, with {{total_posts}} being made on all active boards since October 23, 2013.{% endtrans %}</p>
	
	<table>
		<thead>
			<tr>
				<th>L</th>
				<th>{% trans %}Board{% endtrans %}</th>
				<th>{% trans %}Board title{% endtrans %}</th>
				<th>{% trans %}Posts in last hour{% endtrans %}</th>
				<th>{% trans %}Total posts{% endtrans %}</th>
				<th>{% trans %}Unique IPs{% endtrans %}</th>
				<th>{% trans %}Created{% endtrans %}</th>
			</tr>
		</thead>
		<tbody class="loading">
			
		</tbody>
		<tbody>
			{% for board in boards %}
			<tr>
				<td>{{ board.img|raw }}</td>
				<td><a href='/{{board['uri']}}/'>/{{board['uri']}}/</a>{{lock|raw}}</td>
				<td>{{ board['title'] }}</td>
				<td>{{board['pph']}}</td>
				<td style='text-align:right'>{{board['max']}}</td>
				<td style='text-align:right'>{{board['uniq_ip']}}</td>
				<td>{{board['time']}} ({{board['ago']}} ago)</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<p><em>Page last updated: {{last_update}}</em></p>
	<p>{{uptime_p}} without interruption</p>
</div>