body {
  background: #3B4357;
  color: white;
  font-family: verdana,arial,sans-serif;
  font-weight: bold;
}

.desktop-style div.boardlist:not(.bottom) {
  background-color: #7F8CA8;
}

.desktop-style .sub {
  font-family: arial,helvetica,sans-serif;
  font-size: 8pt;
  font-weight: normal;
}

header div.subtitle, h1 {
  font-family: verdana,arial,sans-serif;
}

div.banner {
  background-color: #7F8CA8;
}

form table tr th {
  background: #7F8CA8;
}

div.blotter {
  color: white;
}

div.thread {
  background: #7F8CA8;
}

div.post.reply {
  background: #343C4E;
  border: none;
  display: table;
  margin: auto;
  width: 100%;
}

img.post-image {
  display: inline-block;
}

p.intro span.name {
  color: #5C5484;
}

p.intro a.email span.name {
  color: #8080FF;
}

a {
  color: #8020FF;
}



.box {
	background: #343C4E;
	border: none;
	color: #FFF;
}
.box-title {
	background: #7F8CA8;
	color: #0F0C5D;
}

table thead th {
	background: #343C4E;
	border: none;
	color: #FFF;
}
table tbody tr:nth-of-type( even ) {
	background-color: #343C4E;
}

table.board-list-table .board-uri .board-sfw {
	color: #8020FF;
}
tbody.board-list-omitted td {
	background: #343C4E;
	border: none;
}

table.board-list-table .board-tags .board-cell:hover {
	line-height: 24px;
	background: #3B4357;
}
table.board-list-table tr:nth-of-type( even ) .board-tags .board-cell {
	background: #343C4E;
}