html,
body {
  margin: auto;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background: #EEF2FF url('img/fade-blue.png') repeat-x 50% 0%;
  color: black;
  font: 10pt/16px arial, helvetica, sans-serif;
  margin: 1px 2px;
  padding: 1px 2px;
}

a,a:visited {
  text-decoration: underline;
  color: #34345C;
}

a:hover,p.intro a.post_no:hover {
  color: #ff0000;
}

a.post_no {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p.intro a.post_no {
  color: inherit;
}

p.intro a.post_no,p.intro a.email,p.intro a.post_anchor {
  margin: 0;
}

p.intro a.email span.name {
  color: #34345C;
}

p.intro a.email:hover span.name {
  color: #ff0000;
}

p.intro label {
  display: inline;
}

p.intro time,p.intro a.ip-link,p.intro a.capcode {
  direction: ltr;
  unicode-bidi: embed;
}


/* Header
***********************************************************/
h1 {
  font: 20pt/30px sans-serif;
  font-weight: bold;
  letter-spacing: -3px;
  margin: 0;
}

h2 {
  color: #AF0A0F;
  font-size: 11pt;
  margin: 0;
  padding: 0;
}

header {
  margin: 16px 0;
}

header div.subtitle,h1 {
  color: #AF0A0F;
  text-align: center;
}

header div.subtitle {
  font-size: 8pt;
}

/* Post Form */
form {
  margin-bottom: 16px;
}

form table {
  margin: auto;
  height: auto;
  width: 50px%;
}

form table input {
  height: auto;
  width: auto;
  margin: auto;
}

input[type="text"],input[type="password"],textarea {
  border: 1px solid #a9a9a9;
  max-width: 100%;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

#quick-reply input[type="text"], input[type="password"], #quick-reply textarea {
  max-width: 100%;
}

#upload input[type="file"] {
  max-width: 230px;
}

form table tr td {
  text-align: left;
  margin: 0;
  padding: 0;
  max-width: 200px;
}

form table.mod tr td {
  padding: 2px;
}

form table tr th {
  background: #98E;
  text-align: left;
  padding: 3px;
}

form table tr td div.center {
  text-align: center;
  float: left;
  padding-left: 3px;
}

form table tr td div input {
  display: block;
  margin: 2px auto 0 auto;
}

form table tr td div label {
  font-size: 10pt;
}

.unimportant,.unimportant * {
  font-size: 10pt;
}

.file {
  float: left;
  margin-right: 2px;
}

.file:not(.multifile) .post-image {
  float: left;
}

.file:not(.multifile) {
  float: none;
}

p.fileinfo {
  margin: 0 0 0 5px;
  padding: 0;
  overflow: hidden;
}

div.post p.fileinfo {
  padding-left: 4px;
}

div.banner {
  background-color: #E04000;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  margin: 16px 0;
}

div.banner,div.banner a {
  color: white;
}

div.banner a:hover {
  color: #EEF2FF;
  text-decoration: none;
}

img.banner,img.board_image {
  display: block;
  border: 1px solid #a9a9a9;
  margin: 12px auto 0 auto;
}


/* Posts
***********************************************************/
/* Image */
span.unimportant {
  display: none;
}

a download {
  display: none;
}

.post-image {
  border: none;
  display: block;
  float: left;
  margin: 4px 8px 4px 0;
  height: 25%!important;
  width: 25%!important;
}

.full-image {
  float: left;
  padding: 5px;
  margin: 0 20px 0 0;
  max-width: 98%;
}

div.post .post-image {
  padding: 5px;
  margin: 0 20px 0 0;
}

div.post img.icon {
  display: inline;
  margin: 0 5px;
  padding: 0;
}

div.post i.fa {
  margin: 0 4px;
  font-size: 16px;
}

div.post.op {
  margin-right: 20px;
  margin-bottom: 5px;
}

div.post.op hr {
  border-color: #D9BFB7;
}

p.intro {
  margin: 4px 0;
  padding: 0;
  padding-bottom: 2px;
}

input.delete {
  float: left;
  margin: 1px 6px 0 0;
}

p.intro span.subject {
  color: #0F0C5D;
  font-weight: bold;
}

p.intro span.name {
  color: #117743;
  font-weight: bold;
}

p.intro span.capcode,p.intro a.capcode,p.intro a.nametag {
  color: #F00000;
  margin-left: 0;
}

p.intro a {
  margin-left: 4px;
}

div.delete {
  float: right;
  margin: 8px auto;
}

div.post.reply p {
  margin: 1px 0 0 0;
}

div.post.reply div.body {
  margin: 4px auto auto 8px;
  padding: auto 12px 4px auto;
}

div.post.reply.highlighted {
  background: #D6BAD0;
}

div.post.reply div.body a {
  color: #D00;
}

div.post {
  padding-left: 10px;
}

div.post div.body {
  word-wrap: break-word;
  white-space: pre-wrap;
}

div.post.reply {
  background: #D6DAF0;
  margin: 1px auto;
  padding: 8px;
  border-width: 1px;
  border-style: none solid solid none;
  border-color: #B7C5D9;
  display: inline-block;
  width: 100%!important;
}

div.post_modified {
  margin-left: 1.8em;
}

div.post_modified div.content-status {
  margin-top: 0.5em;
  padding-bottom: 0em;
  font-size: 75%;
}

div.post_modified div.content-status:first-child {
  margin-top: 1.3em;
}

span.trip {
  color: #228854;
}

span.quote {
  color: #789922;
}

span.omitted {
  display: block;
  margin-top: 1em;
}

br.clear {
  clear: left;
  display: block;
}

span.controls {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 80%;
}

span.controls.op {
  float: none;
  margin-left: 10px;
}

span.controls a {
  margin: 0;
}

div#wrap {
  width: 900px;
  margin: 0 auto;
}

div.module,
div.ban {
  background: white;
  border: 1px solid #98E;
  max-width: 700px;
  margin: 30px auto;
}

div.ban p,
div.ban h2 {
  padding: 3px 7px;
}

div.ban h2 {
  background: #98E;
  color: black;
  font-size: 12pt;
}

div.ban p {
  font-size: 12px;
  margin-bottom: 12px;
}

div.ban p.reason {
  font-weight: bold;
}

span.heading {
  color: #AF0A0F;
  font-size: 11pt;
  font-weight: bold;
}

span.spoiler {
  background: black;
  color: black;
  padding: 0 1px;
}

div.post.reply div.body span.spoiler a {
  color: black;
}

span.spoiler:hover,div.post.reply div.body span.spoiler:hover a {
  color: white;
}

div.styles {
  float: right;
  padding-bottom: 20px;
}

div.styles a {
  margin: auto;
  padding: 0 2px;
}

div.styles a.selected {
  text-decoration: none;
}

table.test {
  width: 100%;
}

table.test td,table.test th {
  text-align: left;
  padding: 5px;
}

table.test tr.h th {
  background: #98E;
}

table.test td img {
  margin: 0;
}

fieldset label {
  display: block;
}

div.pages {
  color: #89A;
  background: #D6DAF0;
  display: inline;
  margin: 4px auto;
  padding: 2px;
  border-right: 1px solid #B7C5D9;
  border-bottom: 1px solid #B7C5D9;
}

div.pages.top {
  display: none;
  padding: 5px 8px;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.9;
}

div.pages a.selected {
  color: black;
  font-weight: bolder;
}

div.pages a {
  text-decoration: none;
}

div.pages form {
  margin: 0;
  padding: 0;
  display: inline;
}

div.pages form input {
  margin: 0 5px;
  display: inline;
}

hr {
  border: none;
  border-top: 1px solid #B7C5D9;
  height: 0;
  clear: left;
}


/* UI
***********************************************************/
div.boardlist {
  color: #89A;
  font-size: 9pt;
  margin-top: 3px;
}

div.boardlist.bottom {
  margin-top: 20px;
}

div.boardlist a {
  text-decoration: none;
}

div.report {
  color: #333;
}

table.modlog {
  margin: auto;
  width: 100%;
}

table.modlog tr td {
  text-align: left;
  margin: 0;
  padding: 4px 15px 0 0;
}

table.modlog tr th {
  text-align: left;
  padding: 4px 15px 5px 5px;
  white-space: nowrap;
}

table.modlog tr th {
  background: #98E;
}

td.minimal,th.minimal {
  width: 1%;
  white-space: nowrap;
}

div.top_notice {
  text-align: center;
  margin: 5px auto;
}

span.public_ban {
  display: block;
  color: red;
  font-weight: bold;
  margin-top: 15px;
}

span.toolong {
  display: block;
  margin-top: 15px;
}

div.blotter {
  color: red;
  font-weight: bold;
  text-align: center;
}

table.mod.config-editor {
  font-size: 9pt;
  width: 100%;
}

table.mod.config-editor td {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #98e;
}

table.mod.config-editor input[type="text"] {
  width: 98%;
}

.desktop-style div.boardlist:nth-child(1) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  z-index: 30;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  border-bottom: 1px solid;
  background-color: #D6DAF0;
}

.desktop-style body {
  padding-top: 20px;
}

.desktop-style .sub {
  background: inherit;
}

.desktop-style .sub .sub {
  display: inline-block;
  text-indent: -9000px;
  width: 7px;
  background: url('img/arrow.png') right center no-repeat;
}

.desktop-style .sub .sub:hover,.desktop-style .sub .sub.hover {
  display: inline;
  text-indent: 0;
  background: inherit;
}

#attention_bar {
  height: 24px;
  max-height: 24px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
}

#attention_bar_form {
  display: none;
  padding: 0;
  margin: 0;
}

#attention_bar_input {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

#attention_bar:hover {
  background-color: rgba(100%,100%,100%,0.2);
}

p.intro.thread-hidden {
  margin: 0;
  padding: 0;
}

form.ban-appeal {
  margin: 9px 20px;
}

form.ban-appeal textarea {
  display: block;
}

.MathJax_Display {
  display: inline!important;
}

pre {
  margin: 0
  display: inline!important;
}

.theme-catalog {
  margin: auto;
}

.theme-catalog div.thread img {
  float: none!important;
  margin: auto;
  max-height: 150px;
  max-width: 200px;
  box-shadow: 0 0 2px rgba(0,0,0,0.55);
  border: 1px solid rgba(153,153,153,0);
}

.theme-catalog div.thread {
  background: rgba(182,182,182,0.12);
  border: 2px solid rgba(111,111,111,0.34);
  display: inline-block;
  font-size: 9pt;
  font-weight: normal;
  text-align: center;
  margin: 2px 0;
  padding: 1px;
  height: 300px;
  max-height: 300px;
  width: 205px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

.theme-catalog div.thread strong {
  display: block;
}

.theme-catalog div.threads {
  text-align: center;
  margin-left: auto;
}

.theme-catalog div.grid-size-vsmall img {
  max-height: 33%;
  max-width: 95%;
}

.theme-catalog div.grid-size-vsmall {
  min-width: 94px;
  max-width: 94px;
  max-height: 160px;
}

.theme-catalog div.grid-size-small img {
  max-height: 33%;
  max-width: 95%;
}

.theme-catalog div.grid-size-small {
  min-width: 142px;
  max-width: 142px;
  max-height: 200px;
}

.theme-catalog div.grid-size-large img {
  max-height: 40%;
  max-width: 95%;
}

.theme-catalog div.grid-size-large {
  min-width: 300px;
  max-width: 300px;
  max-height: 384px;
}

.theme-catalog img.thread-image {
  height: auto;
  max-width: 100%;
}

.compact-boardlist {
  padding: 3px;
  padding-bottom: 0;
}

.compact-boardlist .cb-item {
  display: inline-block;
  vertical-align: middle;
}

.compact-boardlist .cb-icon {
  padding-bottom: 1px;
}

.compact-boardlist .cb-fa {
  font-size: 14pt;
  padding: 2px;
  padding-top: 0;
}

.compact-boardlist .cb-cat {
  padding: 5px 6px 8px 6px;
}

.cb-menuitem {
  display: table-row;
}

.cb-menuitem span {
  padding: 5px;
  display: table-cell;
  text-align: left;
  border-top: 1px solid rgba(0,0,0,0.5);
}

.cb-menuitem span.cb-uri {
  text-align: right;
}

.boardlist:not(.compact-boardlist) #watch-pinned::before {
  content: " [ ";
}

.boardlist:not(.compact-boardlist) #watch-pinned::after {
  content: " ] ";
}

.boardlist:not(.compact-boardlist) #watch-pinned {
  display: inline;
}

.boardlist:not(.compact-boardlist) #watch-pinned a {
  margin-left: 3pt;
}

.boardlist:not(.compact-boardlist) #watch-pinned a:first-child {
  margin-left: 0pt;
}

.compact-boardlist #watch-pinned {
  display: inline-block;
  vertical-align: middle;
}

.new-posts {
  opacity: 0.6;
  margin-top: 1em;
}

.new-threads, .board-settings {
  text-align: center;
}

#options_handler, #alert_handler {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9900;
}

#options_background, #alert_background {
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#options_div, #alert_div {
  background-color: #d6daf0;
  border: 1px solid black;
  display: inline-block;
  position: relative;
  margin-top: 20px;
}

#options_div {
  width: 600px;
  height: 300px;
}

#alert_div {
  width: 500px;
}

#alert_message {
  text-align: center;
  margin: 13px;
  font-size: 110%;
}

.alert_button {
  margin-bottom: 13px;
}

#options_div textarea {
  max-width: 100%;
}

#options_close, #alert_close {
  top: 0px;
  right: 0px;
  position: absolute;
  margin-right: 3px;
  font-size: 14pt;
  z-index: 100;
}

#options_tablist {
  padding: 0px 5px;
  left: 0px;
  width: 70px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  border-right: 1px solid black;
}

.options_tab_icon {
  padding: 5px;
  color: black;
  cursor: pointer;
}

.options_tab_icon.active {
  color: red;
}

.options_tab_icon i {
  font-size: 20px;
}

.options_tab_icon div {
  font-size: 11px;
}

.options_tab {
  padding: 10px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 81px;
  right: 0px;
  text-align: left;
}

.options_tab h2 {
  text-align: center;
  margin-bottom: 5px;
}

.mobile-style #options_div, .mobile-style #alert_div {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 0px;
}

.mentioned {
  word-wrap: break-word;
}

.poster_id {
  cursor: pointer;
}


/* MISC
***********************************************************/

/* Code Tags */
pre {
  display: block!important;
  font: 9pt/14px monospace;
  max-width: 99%;
  overflow: auto;
  word-wrap: normal;
}

span.pln {
  color: grey;
}

.MathJax_Display {
  display: inline!important;
}


/* Threadwatcher */
#watchlist {
  border: 1px solid;
  border-style: none solid solid none;
  display: none;
  margin: 0 auto 10px auto;
  max-height: 250px;
  overflow: auto;
  width: 50%;
}

.watchlist-inner, .watchlist-controls {
  margin: 10px auto;
  text-align: center;
}

#watchlist-toggle, .watchThread, .watchlist-remove, #clearList, #clearGhosts {
  cursor: pointer;
}

.own_post {
  font-style: italic;
  font-weight: normal;
  opacity: .666;
}

pre {
/* Better code tags */
  max-width: inherit;
  word-wrap: normal;
  overflow: auto;
  display: block!important;
  font-size: 9pt;
  font-family: monospace;
}

span.pln {
  color: grey;
}

div.file.multifile {
  margin: 0;
  padding: 0;
  max-width: 40%!important;
}

div.files > p.fileinfo > a {
  display: none !important;
}


/* Large Screens
***********************************************************/

/* Large Phones */
@media screen and (min-width: 768px) {
  html,
  body {
    overflow-x: auto;
    overflow-y: auto;
  }

  form table {
    margin: auto;
    height: auto;
    width: auto;
  }

  form table input {
    height: auto;
    width: auto;
    margin: auto;
  }

  input[type="text"],input[type="password"],textarea {
    max-width: auto;
  }

  #quick-reply input[type="text"], input[type="password"], #quick-reply textarea {
    max-width: auto;
  }

  form table tr td {
    text-align: left;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .theme-catalog div.grid-size-vsmall {
    min-width: 128px;
    max-width: 128px;
    max-height: 160px;
  }

  .theme-catalog div.grid-size-small {
    min-width: 192px;
    max-width: 192px;
    max-height: 200px;
  }

  .theme-catalog div.grid-size-large {
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
  }

  /* Image info*/
  span.unimportant {
    display: inline-block!important;
  }

  a download {
    display: inline-block!important;
  }

  .post-image {
    height: auto!important;
    width: 200px!important;
  }

  div.post.reply {
    width: auto!important;
  }

  div.pages.top {
    display: block!important;
  }

  /* Keep small thumbnails */
  a:not([data-expanded="true"]) .post-image{
    width:auto!important;
    height:auto!important;
    max-height:200px!important;
    max-width:200px!important
  }

  /* Keep small thumbnails in replies */
  .post.reply a:not([data-expanded="true"]) .post-image{
    width:auto!important;
    height:auto!important;
    max-height:160px;
    max-width:160px
  }
}

/* Tablets/Laptops */
@media screen and (min-width: 1024px) {
}

/* Desktop/High DPI*/
@media screen and (min-width: 1280px) {
}
