body {
	background: #ffe url('img/fade-yotsuba.png') repeat-x 50% 0%;
	color: #800000;
}
a:link, a:visited, .intro span.name {
	color: #800;
}
a.email { 
	color: #00f;
}
a:link:hover {
	color: #e00;
}
a.post_no {
	color: #800000;
}
div.post.reply {
	background: #f0e0d6;
	border-color: #d9bfb7;
}
div.post.reply.highlighted {
	background: #f0c0b0;
	border-color: #d9bfb7;
}
div.post.reply div.body a {
	color: navy;
}
.intro span.subject {
	color: #d00;
}
form table tr th {
	background: #EA8;
}
div.ban h2 {
	background: #FCA;
	color: inherit;
}
div.ban {
	border-color: #800;
}
div.ban p {
	color: black;
}
div.pages {
	background: #F0E0D6;
	border-color: #D9BFB7;
}
div.pages a.selected {
	color: #800;
}
hr {
	border-color: #D9BFB7;
}
div.boardlist {
	color: #B86;
}
div.boardlist a {
	color: #800;
}
table.modlog tr th {
	background: #EA8;
}

/* options.js */
#options_div, #alert_div {
	background: #f0e0d6;
}

.desktop-style div.boardlist:nth-child(1) {
	background-color: #F0E0D6;
}

.desktop-style div.boardlist:not(.bottom) {
	background-color: #F0E0D6;
}


.box {
	background: #fff;
	border-color: #800;
	color: #000;
}
.box-title {
	background: #fca;
	color: #800;
}

table thead th {
	border-color: #800;
	background: #fca;
	color: #800;
}
table tbody tr:nth-of-type( even ) {
	background-color: #ede2d4;
}

table.board-list-table .board-uri .board-sfw {
	color: #800;
}
tbody.board-list-omitted td {
	background: #fca;
	border-color: #800;
}

table.board-list-table .board-tags .board-cell:hover {
	background: #ffe;
}
table.board-list-table tr:nth-of-type( even ) .board-tags .board-cell {
	background: #ede2d4;
}

#quick-reply .post-table, #quick-reply td {
	border-collapse: collapse;
	background: none repeat scroll 0% 0% #f0e0d6;
	margin: 0px;
}