{% if post.sticky %}
	{% if config.font_awesome %}
		<i class="fa fa-thumb-tack" title="Sticky"></i>
	{% else %}
		<img class="icon" title="Sticky" src="{{ config.image_sticky }}" alt="Sticky" />
	{% endif %}
{% endif %}
{% if post.locked %}
	{% if config.font_awesome %}
		<i class="fa fa-lock" title="Locked"></i>
	{% else %}
		<img class="icon" title="Locked" src="{{ config.image_locked }}" alt="Locked" />
	{% endif %}
{% endif %}
{% if post.sage and (config.mod.view_bumplock < 0 or (mod and mod|hasPermission(config.mod.view_bumplock, board.uri))) %}
	{% if config.font_awesome %}
		<i class="fa fa-anchor" title="Bumplocked"></i>
	{% else %}
		<img class="icon" title="Bumplocked" src="{{ config.image_bumplocked }}" alt="Bumplocked" />
	{% endif %}
{% endif %}
{% if post.cycle %}
	{% if config.font_awesome %}
		<i class="fa fa-refresh" title="Cyclical ({{ config.cycle_limit }})"></i>
	{% else %}
		<img class="icon" title="Cyclical ({{ config.cycle_limit }})" src="{{ config.image_sticky }}" alt="Cyclical" />
	{% endif %}
{% endif %}
