<div style="text-align: center">
<style>.post {text-align:left}</style>
<form action="" method="post">
	<input type="hidden" name="token" value="{{ token }}">
	
	<table>
		<tr>
			<th>
				{% trans %}Name{% endtrans %}
			</th>
			<td>
				<input type="text" name="name" size="25" maxlength="35" autocomplete="off" value="{{ post.name }}">
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Tripcode{% endtrans %}
			</th>
			<td>
				{% trans %}Remove tripcode?{% endtrans %} <input type="checkbox" name="remove_trip" value="{{ post.trip }}">
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Email{% endtrans %}
			</th>
			<td>
				<input type="text" name="email" size="25" maxlength="40" autocomplete="off" value="{{ post.email }}">
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Subject{% endtrans %}
			</th>
			<td>
				<input style="float:left;" type="text" name="subject" size="25" maxlength="100" autocomplete="off" value="{{ post.subject }}">
				<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="{% trans %}Update{% endtrans %}">
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Comment{% endtrans %}
			</th>
			<td>
				<textarea name="body" id="body" rows="8" cols="35">{% if raw %}{{ post.body }}{% else %}{{ post.body_nomarkup }}{% endif %}</textarea>
			</td>
		</tr>
		{# <tr> <!-- The file handling code is quite complicated and I'm not about to start maintaining it in two places. It needs to be made into a set of reusable functions or something. If you want to do so uncomment this. Pull requests that copy the code from post.php to inc/mod/pages.php without creating functions to be used in both won't be accepted. -->
			<th>
				{% trans %}Files{% endtrans %}<br/>
				<p class="unimportant">{% trans %}Note: Changing files<br/>deletes all previous ones.{% endtrans %}</p>
			</th>
			<td>
				{% for i in range(0, config.max_images - 1) %}
				<input type="file" name="file" id="upload_file"><br/>
				{% endfor %}
			</td>
		</tr> #}
		<tr id="upload_embed">
			<th>
				{% trans %}Embed{% endtrans %}
			</th>
			<td>
				<input type="text" name="embed" value="{{ post.embed|e }}" size="30" maxlength="120" autocomplete="off">
			</td>
		</tr>
	</table>
	<h2>{% trans %}Existing post{% endtrans %}</h2>
	{{ preview }}
	<p style="text-align:center">
		{% if mod|hasPermission(config.mod.rawhtml) %}
			{% if raw %}
				{% trans %}Currently editing raw HTML.{% endtrans %} 
				<a href="?/{{ board }}/edit/{{ post.id }}">{% trans %}Edit markup instead?{% endtrans %}</a>
			{% else %}
				<a href="?/{{ board }}/edit_raw/{{ post.id }}">{% trans %}Edit raw HTML instead?{% endtrans %}</a>
			{% endif %}
		{% endif %}
	</p>
</form>
</div>
