<div style="text-align:center">
<form action="{{ action }}" method="post">
	<p class="unimportant">Please read carefully: The settings below help users discover your board by giving it certain tags and by marking it as NSFW or not.</p>
	<p class="unimportant">If your board is not really safe-for-work and you mark it as SFW, your privilege to categorize your board may be revoked.</p>
	<p class="unimportant">Please take care not to grossly mistag your board. For example, don't tag a literature board as videogames. If we feel that the tags you've given your board are not appropriate for your board and are degrading the ability for users to discover boards, we may revoke your access to this page. Please note: if we do this, your board will not be affected, nor will you be banned from 8chan.co. It's just a ban from the tag system.</p>

<input type="hidden" name="token" value="{{ token }}">
<table>
<tbody>
<tr><th>SFW?</th><td><input type="checkbox" name="sfw" {% if sfw %}checked{% endif %}></td></tr>
{% for tag in tags %}
<tr>
<th>Tag {{loop.index}}</th><td><input name="tags[]" value="{{ tag.tag }}" type="text"></td>
</tr>
{% endfor %}
{% if tags|length < 5 %}
	{% for i in range(tags|length+1, 5) %}
		<tr>
		<th>Tag {{i}}</th><td><input name="tags[]" value="" type="text"></td>
		</tr>
	{% endfor %}
{% endif %}
</tbody>
</table>
<p><input type="submit" value="Update tags"></p>
</form>
</div>
