<script type="text/javascript" src="js/jquery.min.js"></script>
<div style="text-align:center">
<form action="{{ action }}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="token" value="{{ token }}">
	<h2>{% trans %}New user{% endtrans %}</h2>
	<p><span class="unimportant">A maximum of twenty board volunteers is enforced. Please make sure to give them all secure passwords. A board volunteer can do everything you can do, with the exception of viewing this page, the banners page, and the board settings page.</span></p>
	<table>
		<tr><th>Username</th><th>Password</th>
		<tr><td><input name="username"></td><td><input name="password"></td></tr>
	</table>
	<p><input type="submit" value="{% trans 'Create user' %}"></p>
</form>
<hr>

<h2>Current volunteers</h2>
<form action="{{ action }}" method="post">
<input type="hidden" name="token" value="{{ token }}">
<table>
<tbody>
{% for volunteer in volunteers %}
	<tr>
	<td><input name="delete[]" type="checkbox" value="{{volunteer.id}}"></td><td>{{volunteer.username}}</td>
	</tr>
{% endfor %}
</tbody>
</table>
<p><input type="submit" value="Delete selected"></p>
</form>
</div>
