/*$disable-magic-sprite-selectors: true;*/
/* line 2232, ../../static/flags/*.png */
.flag {
  background-image: url('flags.png');
  background-repeat: no-repeat;
}

/* */
/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-a1 {
  background-position: 0 0;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-a2 {
  background-position: 0 -11px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ac {
  background-position: 0 -22px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ad {
  background-position: 0 -33px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ae {
  background-position: 0 -44px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-af {
  background-position: 0 -55px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ag {
  background-position: 0 -66px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ai {
  background-position: 0 -77px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-al {
  background-position: 0 -88px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-am {
  background-position: 0 -99px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-an {
  background-position: 0 -110px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ao {
  background-position: 0 -121px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ap {
  background-position: 0 -132px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-aq {
  background-position: 0 -143px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ar {
  background-position: 0 -154px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-as {
  background-position: 0 -165px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-at {
  background-position: 0 -176px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-au {
  background-position: 0 -187px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-aw {
  background-position: 0 -198px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ax {
  background-position: 0 -209px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-az {
  background-position: 0 -220px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ba {
  background-position: 0 -231px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bb {
  background-position: 0 -242px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bd {
  background-position: 0 -253px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-be {
  background-position: 0 -264px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bf {
  background-position: 0 -275px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bg {
  background-position: 0 -286px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bh {
  background-position: 0 -297px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bi {
  background-position: 0 -308px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bj {
  background-position: 0 -319px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bl {
  background-position: 0 -330px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bm {
  background-position: 0 -341px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bn {
  background-position: 0 -352px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bo {
  background-position: 0 -363px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bq {
  background-position: 0 -374px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-br {
  background-position: 0 -385px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bs {
  background-position: 0 -396px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bt {
  background-position: 0 -407px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bu {
  background-position: 0 -418px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bv {
  background-position: 0 -429px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bw {
  background-position: 0 -440px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-by {
  background-position: 0 -451px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bz {
  background-position: 0 -462px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ca {
  background-position: 0 -473px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cat {
  background-position: 0 -484px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cc {
  background-position: 0 -495px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cd {
  background-position: 0 -506px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cf {
  background-position: 0 -517px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cg {
  background-position: 0 -528px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ch {
  background-position: 0 -2959px;
  height: 11px;
  width: 11px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ci {
  background-position: 0 -539px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ck {
  background-position: 0 -550px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cl {
  background-position: 0 -561px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cm {
  background-position: 0 -572px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cn {
  background-position: 0 -583px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-co {
  background-position: 0 -594px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cp {
  background-position: 0 -605px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cr {
  background-position: 0 -616px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cs {
  background-position: 0 -627px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cu {
  background-position: 0 -638px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cv {
  background-position: 0 -649px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cw {
  background-position: 0 -660px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cx {
  background-position: 0 -671px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cy {
  background-position: 0 -682px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cz {
  background-position: 0 -693px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-de {
  background-position: 0 -704px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-dg {
  background-position: 0 -715px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-dj {
  background-position: 0 -726px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-dk {
  background-position: 0 -737px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-dm {
  background-position: 0 -748px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-do {
  background-position: 0 -759px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-dz {
  background-position: 0 -770px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ea {
  background-position: 0 -781px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ec {
  background-position: 0 -792px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ee {
  background-position: 0 -803px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-eg {
  background-position: 0 -814px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-eh {
  background-position: 0 -825px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-er {
  background-position: 0 -836px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-es {
  background-position: 0 -847px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-et {
  background-position: 0 -858px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-eu {
  background-position: 0 -869px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fi {
  background-position: 0 -880px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fj {
  background-position: 0 -891px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fk {
  background-position: 0 -902px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fm {
  background-position: 0 -913px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fo {
  background-position: 0 -924px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fr {
  background-position: 0 -935px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fx {
  background-position: 0 -946px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ga {
  background-position: 0 -957px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gb {
  background-position: 0 -968px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gd {
  background-position: 0 -979px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ge {
  background-position: 0 -990px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gf {
  background-position: 0 -1001px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gg {
  background-position: 0 -1012px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gh {
  background-position: 0 -1023px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gi {
  background-position: 0 -1034px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gl {
  background-position: 0 -1045px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gm {
  background-position: 0 -1056px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gn {
  background-position: 0 -1067px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gp {
  background-position: 0 -1078px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gq {
  background-position: 0 -1089px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gr {
  background-position: 0 -1100px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gs {
  background-position: 0 -1111px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gt {
  background-position: 0 -1122px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gu {
  background-position: 0 -1133px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gw {
  background-position: 0 -1144px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gy {
  background-position: 0 -1155px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-hk {
  background-position: 0 -1166px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-hm {
  background-position: 0 -1177px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-hn {
  background-position: 0 -1188px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-hr {
  background-position: 0 -1199px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ht {
  background-position: 0 -1210px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-hu {
  background-position: 0 -1221px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ic {
  background-position: 0 -1232px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-id {
  background-position: 0 -1243px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ie {
  background-position: 0 -1254px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-il {
  background-position: 0 -1265px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-im {
  background-position: 0 -1276px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-in {
  background-position: 0 -1287px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-io {
  background-position: 0 -1298px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-iq {
  background-position: 0 -1309px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ir {
  background-position: 0 -1320px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-is {
  background-position: 0 -1331px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-it {
  background-position: 0 -1342px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-je {
  background-position: 0 -1353px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-jm {
  background-position: 0 -1364px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-jo {
  background-position: 0 -1375px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-jp {
  background-position: 0 -1386px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ke {
  background-position: 0 -1397px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kg {
  background-position: 0 -1408px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kh {
  background-position: 0 -1419px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ki {
  background-position: 0 -1430px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-km {
  background-position: 0 -1441px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kn {
  background-position: 0 -1452px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kp {
  background-position: 0 -1463px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kr {
  background-position: 0 -1474px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kw {
  background-position: 0 -1485px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ky {
  background-position: 0 -1496px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kz {
  background-position: 0 -1507px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-la {
  background-position: 0 -1518px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lb {
  background-position: 0 -1529px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lc {
  background-position: 0 -1540px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-li {
  background-position: 0 -1551px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lk {
  background-position: 0 -1562px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lr {
  background-position: 0 -1573px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ls {
  background-position: 0 -1584px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lt {
  background-position: 0 -1595px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lu {
  background-position: 0 -1606px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lv {
  background-position: 0 -1617px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ly {
  background-position: 0 -1628px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ma {
  background-position: 0 -1639px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mc {
  background-position: 0 -1650px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-md {
  background-position: 0 -1661px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-me {
  background-position: 0 -3004px;
  height: 12px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mf {
  background-position: 0 -1672px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mg {
  background-position: 0 -1683px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mh {
  background-position: 0 -1694px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mk {
  background-position: 0 -1705px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ml {
  background-position: 0 -1716px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mm {
  background-position: 0 -1727px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mn {
  background-position: 0 -1738px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mo {
  background-position: 0 -1749px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mp {
  background-position: 0 -1760px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mq {
  background-position: 0 -1771px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mr {
  background-position: 0 -1782px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ms {
  background-position: 0 -1793px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mt {
  background-position: 0 -1804px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mu {
  background-position: 0 -1815px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mv {
  background-position: 0 -1826px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mw {
  background-position: 0 -1837px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mx {
  background-position: 0 -1848px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-my {
  background-position: 0 -1859px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mz {
  background-position: 0 -1870px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-na {
  background-position: 0 -1881px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nc {
  background-position: 0 -1892px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ne {
  background-position: 0 -1903px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nf {
  background-position: 0 -1914px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ng {
  background-position: 0 -1925px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ni {
  background-position: 0 -1936px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nl {
  background-position: 0 -1947px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-no {
  background-position: 0 -1958px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-np {
  background-position: 0 -2981px;
  height: 11px;
  width: 9px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nr {
  background-position: 0 -1969px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nt {
  background-position: 0 -1980px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nu {
  background-position: 0 -1991px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nz {
  background-position: 0 -2002px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-o1 {
  background-position: 0 -2013px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-om {
  background-position: 0 -2024px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pa {
  background-position: 0 -2035px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pe {
  background-position: 0 -2046px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pf {
  background-position: 0 -2057px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pg {
  background-position: 0 -2068px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ph {
  background-position: 0 -2079px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pk {
  background-position: 0 -2090px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pl {
  background-position: 0 -2101px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pm {
  background-position: 0 -2112px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pn {
  background-position: 0 -2123px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pr {
  background-position: 0 -2134px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ps {
  background-position: 0 -2145px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pt {
  background-position: 0 -2156px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pw {
  background-position: 0 -2167px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-py {
  background-position: 0 -2178px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-qa {
  background-position: 0 -2189px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-re {
  background-position: 0 -2200px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ro {
  background-position: 0 -2211px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-rs {
  background-position: 0 -2222px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ru {
  background-position: 0 -2233px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-rw {
  background-position: 0 -2244px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sa {
  background-position: 0 -2255px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sb {
  background-position: 0 -2266px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sc {
  background-position: 0 -2277px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sd {
  background-position: 0 -2288px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-se {
  background-position: 0 -2299px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sf {
  background-position: 0 -2310px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sg {
  background-position: 0 -2321px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sh {
  background-position: 0 -2332px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-si {
  background-position: 0 -2343px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sj {
  background-position: 0 -2354px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sk {
  background-position: 0 -2365px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sl {
  background-position: 0 -2376px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sm {
  background-position: 0 -2387px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sn {
  background-position: 0 -2398px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-so {
  background-position: 0 -2409px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sr {
  background-position: 0 -2420px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ss {
  background-position: 0 -2431px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-st {
  background-position: 0 -2442px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-su {
  background-position: 0 -2453px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sv {
  background-position: 0 -2464px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sx {
  background-position: 0 -2475px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sy {
  background-position: 0 -2486px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sz {
  background-position: 0 -2497px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ta {
  background-position: 0 -2508px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tc {
  background-position: 0 -2519px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-td {
  background-position: 0 -2530px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tf {
  background-position: 0 -2541px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tg {
  background-position: 0 -2552px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-th {
  background-position: 0 -2563px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ti {
  background-position: 0 -2992px;
  height: 12px;
  width: 18px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tj {
  background-position: 0 -2574px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tk {
  background-position: 0 -2585px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tl {
  background-position: 0 -2596px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tm {
  background-position: 0 -2607px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tn {
  background-position: 0 -2618px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-to {
  background-position: 0 -2629px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tp {
  background-position: 0 -2640px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tr {
  background-position: 0 -2651px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tt {
  background-position: 0 -2662px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tv {
  background-position: 0 -2673px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tw {
  background-position: 0 -2684px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tz {
  background-position: 0 -2695px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ua {
  background-position: 0 -2706px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ug {
  background-position: 0 -2717px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-uk {
  background-position: 0 -2728px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-um {
  background-position: 0 -2739px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-us {
  background-position: 0 -2750px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-uy {
  background-position: 0 -2761px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-uz {
  background-position: 0 -2772px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-va {
  background-position: 0 -2970px;
  height: 11px;
  width: 11px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-vc {
  background-position: 0 -2783px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ve {
  background-position: 0 -2794px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-vg {
  background-position: 0 -2805px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-vi {
  background-position: 0 -2816px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-vn {
  background-position: 0 -2827px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-vu {
  background-position: 0 -2838px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-wf {
  background-position: 0 -2849px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ws {
  background-position: 0 -2860px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-xx {
  background-position: 0 -2871px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ye {
  background-position: 0 -2882px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-yt {
  background-position: 0 -2893px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-yu {
  background-position: 0 -2904px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-za {
  background-position: 0 -2915px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-zm {
  background-position: 0 -2926px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-zr {
  background-position: 0 -2937px;
  height: 11px;
  width: 16px;
}

/* line 84, ../../../../home/fredrick/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-zw {
  background-position: 0 -2948px;
  height: 11px;
  width: 16px;
}
